<div class="sidebar bg-dark">
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to dashboard_path, class: "nav-link" do %>
        <i class="fas fa-tachometer-alt"></i> Dashboard
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to purchases_path, class: "nav-link" do %>
        <i class="fas fa-shopping-cart"></i> Purchase Orders
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to sales_path, class: "nav-link" do %>
        <i class="fas fa-cogs"></i> Sales Orders
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to suppliers_path, class: "nav-link" do %>
        <i class="fa-solid fa-warehouse"></i> Suppliers
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to products_path, class: "nav-link" do %>
        <i class="fa-brands fa-product-hunt"></i> Products
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to customers_path, class: "nav-link" do %>
        <i class="fa-solid fa-person"></i> Customers
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to uploads_path, class: "nav-link #{'active' if controller_name == 'uploads' && action_name == 'index'}" do %>
        <i class="fas fa-file-invoice"></i> Purchase Invoices
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to sales_uploads_path, class: "nav-link #{'active' if controller_name == 'sales_uploads' && action_name == 'index'}" do %>
        <i class="fas fa-file-invoice-dollar"></i> Sales Invoices
      <% end %>
    </li>
    <% if user_signed_in? || (employee_signed_in? && current_employee.role == 'Manager') %>
      <li class="nav-item">
        <%= link_to employees_path, class: "nav-link" do %>
          <i class="fas fa-users"></i> Employees
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to (current_user ? profile_users_path : profile_employees_path), class: "nav-link" do %>
        <i class="fa-solid fa-user"></i> My profile
      <% end %>
    </li>
  </ul>
</div>
