<%= simple_form_for @customer, html: {
  data: {
    controller: 'alert',
    action: 'submit->alert#initSweetalert',
    # turbo: 'false',
    'alert-icon-value' => 'warning',
    'alert-title-value' => '¿Estás seguro?',
    'alert-html-value' => 'Agregar nuevo cliente.',
    'alert-confirm-button-text-value' => '¡Sí, Todo bien!',
    'alert-show-cancel-button-value' => 'true',
    'alert-cancel-button-text-value' => 'Cancelar'
  }
  } do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :tax_id %>
    </div>
  </div>

  <div class="form-actions mt-3">
    <%= f.button :submit, class: 'btn btn-sm btn-primary rounded' %>
    <%= link_to 'Cancelar', customers_path, class: 'btn btn-sm btn-secondary rounded' %>
  </div>
<% end %>
