<%= render "shared/sidebar" %>
<%= turbo_frame_tag :customer do %>
  <div class="content">
    <div class="sm:flex-auto">
        <h1 class="text-2xl font-semibold text-gray-900">Customers</h1>
        <p class="mt-2 text-sm text-gray-700">
          Total of customers: <%= @customers.count %>
        </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none mb-3">
        <%= link_to new_customer_path,
                    class: "btn btn-sm btn-primary mb-3 mr-3 rounded" do %>
          <i class="fas fa-plus mr-2"></i>New Customer
        <% end %>

        <%= link_to customers_path(format: :xlsx),
                    class: "btn btn-sm btn-success mb-3 rounded" do %>
          <i class="fa-solid fa-download"></i> Download as Excel
        <% end %>
      </div>
    <!-- Barra de búsqueda -->
    <div class="relative mb-3" data-controller="customer-search">
      <input type="text"
             placeholder="Search by name or address..."
             class="form-control px-4 py-2 w-64 rounded-lg border border-gray-300
                    shadow-sm hover:shadow
                    focus:ring-2 focus:ring-indigo-200 focus:border-indigo-400 focus:shadow-md
                    placeholder-gray-400 transition-all duration-150 ease-in-out"
             data-customer-search-target="input"
             data-action="input->customer-search#search keydown->customer-search#navigate"
             autocomplete="off">

      <div data-customer-search-target="suggestions"
           class="absolute w-full z-50 hidden mt-2 overflow-hidden bg-white rounded-lg shadow-lg
                  border border-gray-200 max-h-60 overflow-y-auto">
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Tax ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= "#{customer.first_name} #{customer.last_name}" %></td>
            <td><%= customer.email %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.address %></td>
            <td><%= customer.tax_id %></td>
            <td class="d-flex gap-2">
              <%= link_to customer_path(customer), class: "btn btn-sm btn-info rounded" do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <%= link_to edit_customer_path(customer), class: "btn btn-sm btn-warning rounded" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
