<%= render "shared/sidebar" %>
<%= turbo_frame_tag :product do %>
  <div class="content">
    <div class="sm:flex-auto">
        <h1 class="text-2xl font-semibold text-gray-900">Products</h1>
        <p class="mt-2 text-sm text-gray-700">
          Total de productos: <%= @products.count %>
        </p>
    </div>
    <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none mb-3">
        <%= link_to new_product_path,
                    class: "btn btn-sm btn-primary mb-3 mr-3 rounded" do %>
          <i class="fas fa-plus mr-2"></i>New Product
        <% end %>
        <%= link_to products_path(format: :xlsx),
                    class: "btn btn-sm btn-success mb-3 rounded" do %>
          <i class="fa-solid fa-download"></i> Download as Excel
        <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>SKU</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Stock</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td>
              <%= product.name %>
              <% case product.stock_status %>
              <% when 'normal' %>
                <span class="badge bg-success text-white rounded-pill ml-2">
                  <i class="fas fa-check"></i> Normal
                </span>
              <% when 'warning' %>
                <span class="badge bg-warning text-dark rounded-pill ml-2">
                  <i class="fas fa-exclamation"></i> Stock Bajo
                </span>
              <% when 'danger' %>
                <span class="badge bg-danger text-white rounded-pill ml-2">
                  <i class="fas fa-exclamation-triangle"></i> Sin Stock
                </span>
              <% end %>
            </td>
            <td><%= product.sku %></td>
            <td><%= product.category %></td>
            <td><%= product.brand %></td>
            <td>
              <span class="<%= product.stock_status == 'danger' ? 'text-danger fw-bold' : '' %>">
                <%= product.stock %>
              </span>
              <small class="text-muted">
                (Mín: <%= product.min_stock %>)
              </small>
            </td>
            <td>
              <%= link_to product_path(product), class: 'btn btn-info rounded' do %>
                <i class="fas fa-eye"></i>
              <% end %>
              <% if policy(product).edit? %>
                <%= link_to edit_product_path(product), class: 'btn btn-warning rounded' do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
