<%= render "shared/sidebar" %>

<%= turbo_frame_tag :sale do %>
<div class="content">
  <div class="sm:flex-auto">
    <h1 class="text-2xl font-semibold text-gray-900">Sales Orders</h1>
    <p class="mt-2 text-sm text-gray-700">
      Total sales: <%= @sales.count %>
    </p>
  </div>
  <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none mb-3">
        <%= link_to new_sale_path,
                    class: "btn btn-sm btn-primary mb-3 mr-3 rounded" do %>
          <i class="fas fa-plus mr-2"></i>New Sale
        <% end %>
        <%= link_to sales_path(format: :xlsx),
                    class: "btn btn-sm btn-success mb-3 rounded" do %>
          <i class="fa-solid fa-download"></i> Download as Excel
      <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Client Name</th>
        <th>Total Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr>
          <td><%= sale.sale_date %></td>
          <td><%= "#{sale.customer.first_name} #{sale.customer.last_name}" %></td>
          <td><%= number_to_currency(sale.total_price) %></td>
          <td class="d-flex gap-2">
            <%= link_to sale_path(sale), class: "btn btn-sm btn-info rounded" do %>
              <i class="fas fa-eye"></i>
            <% end %>
            <%= link_to edit_sale_path(sale), class: "btn btn-sm btn-warning rounded" do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
